@font-face {
  font-family: Ubuntu;
  font-weight: normal;
  font-style: normal;
  src: url(../assets/fonts/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: Ubuntu;
  font-weight: bold;
  font-style: normal;
  src: url(../assets/fonts/Ubuntu-Bold.ttf);
}

@font-face {
  font-family: Ubuntu;
  font-weight: 300;
  font-style: normal;
  src: url(../assets/fonts/Ubuntu-Light.ttf);
}

@font-face {
  font-family: Ubuntu;
  font-weight: 500;
  font-style: normal;
  src: url(../assets/fonts/Ubuntu-Medium.ttf);
}

@font-face {
  font-family: Ubuntu;
  font-weight: normal;
  font-style: italic;
  src: url(../assets/fonts/Ubuntu-Italic.ttf);
}
