$gradient: linear-gradient(18deg, #a41196 0%, #481173 100%);
$gradient-darker: linear-gradient(18deg, #830e78 0%, #3a0e5c 100%);
$gradient-smooth: linear-gradient(18deg, #a41196 0%, #771185 100%);

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
